h1 {
    background-color:#ffd490;
    color:#444
    }
    
    body {
    background-color:#ffd490;
    position:relative
    }
    
    img {
    display:block;
    margin:40px auto 0
    }
    
    .clickHere {
    background-color:#677068;
    border:1px solid #000;
    border-radius:.5rem;
    color:#fff;
    display:block;
    font-size:2rem;
    font-weight:700;
    margin:2rem auto;
    padding:.5rem;
    text-align:center;
    text-decoration:none;
    width:25%
    }
    
    .clickHere:hover {
    background-color:#9AA29B
    }