body {
  background-color: #ffd490;
  position: relative;
  margin:0;
}

.paper {
  background-color: #ffdebc;
  display: block;
  justify-content: center;
  width: 70%;
  margin: 2rem auto 0.5rem;
  border-radius: 1.5rem;
  border: 1px solid black;
}

ol {
  display: block;
  font-size: 2rem;
  list-style-type: none;
  margin-top: 0.5rem;
}

li {
  padding: 0.5rem 0;
}

h1 {
  display: block;
  font-size: 2.5rem;
  text-align: center;
}

.clickHere {
  background-color: #677068;
  border: 1px solid #000;
  border-radius: 0.5rem;
  color: #fff;
  display: block;
  font-size: 2rem;
  font-weight: 700;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  width: 25%;
}

.clickHere:hover {
  background-color: #9aa29b;
}
