<!DOCTYPE html>
<html lang="en">

  <head>

    <link rel="stylesheet" href={% relativeUrl "/css/writing.css" %}>
    <meta charset="utf-8">
    <title>Orphan Train Passengers</title>

  </head>

  <body>
    {% comment %}
    This provides the information and acknowledgements for this project.
    {% endcomment %}
    {% capture baseRoot %}
      {% relativeUrl "/" %}{% endcapture %}
    {% render 'header', urlRoot: baseRoot %}

    <h1>ABOUT THE PROJECT</h1>
    <div class="paper">
      <p class="essayParagraph">This project makes available the names of over 2,000 children and youth sent to the
        state of Nebraska between 1854 and 1929 by the Orphan Train movement. The term “Orphan Train” refers broadly
                                                    to the placing-out system initiated by the Children’s Aid Society in 1853 that sought to give New York
                                                    City’s homeless or orphaned children new homes. The placing-out system is largely attributed to creating the
                                                    foundations for the modern-day foster care and children’s welfare system in the U.S. While not all children
                                                    placed in new homes during this period rode a literal train, the term has become synonymous with the system
                                                    of placement that gave them new homes.</p>
      <p class="essayParagraph">No comprehensive list of Orphan Train riders exists today, but it is estimated that
        over 200,000 children from the state of New York and other eastern cities were sent to over 40 different
                                                    states across the U.S. between 1854 and 1929. It is estimated that anywhere between 3,000 and 4,000 children
                                                    arrived in the state of Nebraska between those years.</p>
      <p class="essayParagraph">This project hopes to contribute to the development of a list for the state of
        Nebraska and provide the means to assist the families of descendants and research alike in discovering more
                                                    about the riders and their stories.
      </p>

      <h2>A Note on Methods</h2>
      <p class="essayParagraph">The nature of the placing-out system causes difficulties in locating and
        reconstructing the lives of the Orphan Train children. Their records are typically scattered in various
                                                    archives and online databases across the U.S. today, sometimes making research difficult. In addition,
                                                    records held by the institutions that housed and placed the children often restrict access to records for
                                                    privacy concerns, only reserving access for family members seeking more information about their relatives.
                                                    Thus, determining whether a child was an Orphan Train rider, or where they went, can prove to be difficult.
      </p>
      <p class="essayParagraph">However, various local newspapers, annual reports by aid societies, federal and state
        census records, collaboration with other research institutions, as well as various reminiscences by the
                                                    riders themselves have proven to be valuable resources in constructing more comprehensive lists of the
                                                    children that took part in this movement. It is through these means that this project has generated a list
                                                    of riders to Nebraska.
      </p>

      <h2>Special Thank You to the Castner Family
      </h2>
      <p class="essayParagraph">A special thank you goes to the members of the Castner family for their dedication
        and hard work to uncover more about the children sent to Nebraska. The information provided on Nebraska’s
        Orphan Train riders was first collected by the Castner family, whose relatives (Albert, Clarence, and Clark
        Castner) rode an Orphan Train to Madison, Nebraska on November 20, 1908. This project would not have been
        possible without their generous contributions.
      </p>
      <h2>Credits</h2>
      <h3>Student Creators</h3>
        <ul class="creditList">
          <li>Kelly Clausing - Data Entry</li>
          <li>Tristan Curd -  Site coding and design, data cleanup</li>
          <li>Brianna DeValk - Writing, data entry and regularization, analysis</li>
        </ul>
      <h3>CDRH Staff</h3>
        <ul class="creditList">
          <li>Karin Dalziel - Technical advice</li>
          <li>Laura Weakly - Metadata schema, data entry, content consultation</li>
        </ul>
      <h3>Technical Information</h3>
        <ul class="creditList">
        <li>Built with <a href="https://www.11ty.dev/">Eleventy Static Site Generator</a></li>
        <li><a href="https://github.com/CDRH/orphan_train">Data Repository on GitHub</a> </li>
      </ul>
    </div>
    {% render 'footer', urlRoot: baseRoot %}
  </body>

</html>