<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href={% relativeUrl "/css/photos.css" %}>
  <head>
    <meta charset="utf-8">
    <title>Orphan Train Passengers</title>

  </head>
  <body>

    {% comment %}
    This contains all photos and links to the pages
    {% endcomment %}
    {% capture baseRoot %}
      {% relativeUrl "/" %}{% endcapture %}
    {% render 'header', urlRoot: baseRoot %}
    <div class="slideshow-wrapper">
      <div class="slide">
        <div class="counter">1/6</div>
        <img src={% relativeUrl "/images/Children_Age_Gender-resized.webp" %} alt="Photo of Panzer Brothers" />
      {% comment %}
      <p class="caption">Photo of the Panzer Brothers, 1930.</p>
      {% endcomment %}
      </div>

      <div class="slide">
        <div class="counter">2/6</div>
        <img src={% relativeUrl "/images/Age_Breakdown-resized.webp" %} alt="Photo of Robert Panzer" />
      {% comment %}
      <p class="caption">Robert Panzer, New York, 1921.</p>
      {% endcomment %}
      </div>

      <div class="slide">
        <div class="counter">3/6</div>
        <img src={% relativeUrl "/images/Gender_Breakdown.png" %} alt="Photo of Harold Panzer" />
      {% comment %}
      <p class="caption">Harold Panzer, New York, 1921.</p>
      {% endcomment %}
      </div>

      <button class="prev" onclick="plusSlides(-1)">&#10094;</button>
      <button class="next" onclick="plusSlides(1)">&#10095;</button>
    </div>
    {% render 'footer', urlRoot: baseRoot %}

    <script>
      // Used for the slideshow features
      let slideIndex = 1;
      showSlides(slideIndex);

// Next/previous controls
      function plusSlides(n) {
        showSlides(slideIndex += n);
      }

// Thumbnail image controls
      function currentSlide(n) {
        showSlides(slideIndex = n);
      }

      function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("slide");
        if (n > slides.length) {
          slideIndex = 1
        }
        if (n < 1) {
          slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
        }
        slides[slideIndex - 1].style.display = "block";
      }
    </script>


  </body>
</html>