<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/css/index.css">
  <head>
    <meta charset="utf-8">
    <title>Orphan Train Passengers</title>

  </head>
  <body>
    {% comment %}
    This is the landing page for the Orphan Train Website
    {% endcomment %}
    {% render 'header' %}
    <div>Trying to make an image</div>
    <img src="/images/1388.jpg" />
  </body>
</html>