<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/css/photos.css">
  <head>
    <meta charset="utf-8">
    <title>Orphan Train Passengers</title>

  </head>
  <body>

    {% comment %}
    This contains all photos and links to the pages
    {% endcomment %}
    {% render 'header' %}
      <div class="slideshow-wrapper">
      <div class="slide">
        <div class="counter">1/6</div>
        <img src="/images/17954-resized.webp" alt="Photo of Panzer Brothers" />
        <p class="caption">Photo of the Panzer Brothers, 1930.</p>
        <div class="links">
          Look here for more information: <br/>
          <a href="/people/otr.ne01405/" class="passengerLink">Robert A. Panzer</a>
          <a href="/people/otr.ne01404/" class="passengerLink">John C. Panzer</a>
          <a href="/people/otr.ne01402" class="passengerLink">George Oliver Panzer</a>
          <a href="/people/otr.ne01401" class="passengerLink">Edward Joseph Clarence Panzer</a>
          <a href="/people/otr.ne01403" class="passengerLink">Harold J. Panzer</a>
        </div>

      </div>

      <div class="slide">
        <div class="counter">2/6</div>
        <img src="/images/17955-resized.webp" alt="Photo of Robert Panzer" />
        <p class="caption">Robert Panzer, New York, 1921.</p>
        <div class="links">
          Look here for more information: <br/>
          <a href="/people/otr.ne01405/" class="passengerLink">Robert A. Panzer</a>
        </div>

      </div>

      <div class="slide">
        <div class="counter">3/6</div>
        <img src="/images/17956-resized.webp" alt="Photo of Harold Panzer" />
        <p class="caption">Harold Panzer, New York, 1921.</p>
        <div class="links">
          Look here for more information: <br/>
          <a href="/people/otr.ne01403" class="passengerLink">Harold J. Panzer</a>
        </div>

      </div>

      <div class="slide">
        <div class="counter">4/6</div>
        <img src="/images/17957-resized.webp" alt="Photo of John Panzer" />
        <p class="caption">John Panzer, New York, 1921.</p>
        <div class="links">
          Look here for more information: <br/>
          <a href="/people/otr.ne01404/" class="passengerLink">John C. Panzer</a>
        </div>

      </div>

      <div class="slide">
        <div class="counter">5/6</div>
        <img src="/images/17958-resized.webp" alt="Photo of George Panzer" />
        <p class="caption">John Panzer, New York, 1921.</p>
        <div class="links">
          Look here for more information: <br/>
          <a href="/people/otr.ne01402" class="passengerLink">George Oliver Panzer</a>
        </div>

      </div>

      <div class="slide">
        <div class="counter">6/6</div>
        <img src="/images/24422-resized.webp" alt="Photo of Toni Weiler" />
        <p class="caption">Black and White Photographic Print of a Portrait of Toni Weiler. circa 1915</p>
        <div class="links">
          Look here for more information: <br/>
          <a href="/people/otr.ne00894" class="passengerLink">Toni Weiler (Birth name Mary Brown)</a>
        </div>

      </div>


      {% comment %}  
      <img src="/images/17955-resized.webp" alt="Photo of Robert Panzer"/>
      <img src="/images/17956-resized.webp" alt="Photo of Harold Panzer"/>
      <img src="/images/17957-resized.webp" alt="Photo of John Panzer"/>
      <img src="/images/17958-resized.webp" alt="Photo of George Panzer"/>
      <img src="/images/24422-resized.webp" alt="Photo of Toni Weiler"/>
      {% endcomment %}
      <button class="prev" onclick="plusSlides(-1)">&#10094;</button>
      <button class="next" onclick="plusSlides(1)">&#10095;</button>
    </div>
    {% render 'footer' %}

    <script>
      // Used for the slideshow features
      let slideIndex = 1;
      showSlides(slideIndex);

// Next/previous controls
      function plusSlides(n) {
        showSlides(slideIndex += n);
      }

// Thumbnail image controls
      function currentSlide(n) {
        showSlides(slideIndex = n);
      }

      function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("slide");
        if (n > slides.length) {
          slideIndex = 1
        }
        if (n < 1) {
          slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
        }
        slides[slideIndex - 1].style.display = "block";
      }
    </script>


  </body>
</html>