<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/css/photos.css">
  <head>
    <meta charset="utf-8">
    <title>Orphan Train Passengers</title>

  </head>
  <body>
    {% comment %}
    This contains all photos and links to the pages
    {% endcomment %}
    {% render 'header' %}
    <img src="/images/17954-resized.webp" alt="Photo of Panzer Brothers"/>
    <img src="/images/17955-resized.webp" alt="Photo of Panzer Brothers"/>
    <img src="/images/17956-resized.webp" alt="Photo of Panzer Brothers"/>
    <img src="/images/17957-resized.webp" alt="Photo of Panzer Brothers"/>
    <img src="/images/17958-resized.webp" alt="Photo of Panzer Brothers"/>
    <img src="/images/24422-resized.webp" alt="Photo of Panzer Brothers"/>
    <a href="/table/" class="clickHere">
      Click here to see the list of passengers</a>
  </body>
</html>


