<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href={{urlRoot | append: "/css/footer.css"}}>
  <div class="footer">
  <hr/>
  <div class="moreInfo">
    <p class="footerInfo">Created by the
    <a href="https://cdrh.unl.edu/">Center for Digital Research in the Humanities</a>
    </p>
    <a href="https://www.unl.edu/" aria-label="Go to UNL"><img src={{urlRoot | append: "/images/Nebraska_Footer.png"}} width="100%" class="logo" loading="lazy" alt="Nebraska Logo"/></a>
  </div>
  </div>
</html>